.main
  display: grid
  grid-template-columns: repeat(4, 1fr) repeat(6, 10vh) repeat(4, 1fr)
  grid-template-rows: repeat(10, 10vh)
.board
  grid-column: 5/11
  grid-row: 1/7
  margin: 0 auto
  width: 100%
  height: 60vh
  display: grid
  grid-template-columns: repeat(3, 1fr)
.square
  background: #fff
  padding: 0
  width: 100%
  height: 100%
  line-height: 0
  border: 1px solid black
  font-size: 50px

.score
  grid-column: 1/5
  grid-row: 1/7
  background: red
  display: grid
  grid-template-rows: repeat(6, 1fr)
  height: 60vh
  color: #fff
.score--X
  grid-column: 11/-1
  background: blue
  .scoreName
    color: blue
.scoreName
  grid-row: 1/2
  text-align: center
  color: red
  background: #000
  padding: 15px 0 0 0
  font-weight: bold
.scoreCount
  grid-row: 2/-1
  text-align: center
  vertical-align: middle
  //line-height: 0
  font-size: 25vh

.controllers
  grid-column: 1/8
  grid-row: 7/-1
  background: grey
  display: flex
.X
  flex-direction: row-reverse
  grid-column: 8/-1
  background: grey
  border-left: 1px solid #000
.controllerButtons
  display: flex
  flex-direction: column
  justify-content: space-around
  width: calc(50vw - 30vh)
  button
    margin: 0 auto
    width: calc((50vw - 30vh) / 2)
.controllerVictory
  width: 30vh
  text-align: center
  font-size: 10vh
  font-weight: bold
  color: yellow
  align-self: center
  overflow: hidden
  width: 30vh
.controllerVictoryWin
  transform-origin: left bottom 0
  animation: win .5s 1 linear
.controllerVictoryLose
  animation: lose 1s 1 linear
.controllerVictoryWinO
  transform-origin: right bottom 0
  animation: winO .5s 1 linear
.controllerVictoryLoseO
  animation: loseO 1s 1 linear

@keyframes win
  0%
    transform: rotate(-90deg)
  80%
    transform: rotate(5deg)
  100%
    transform: rotate(0deg)
@keyframes lose
  0%
    transform: translateX(-100%)
  50%
    transform: translateX(-100%)
  80%
    transform: translateX(10%)
  100%
    transform: translateX(0)

@keyframes winO
  0%
    transform: rotate(90deg)
  80%
    transform: rotate(-5deg)
  100%
    transform: rotate(0deg)
@keyframes loseO
  0%
    transform: translateX(100%)
  50%
    transform: translateX(100%)
  80%
    transform: translateX(-10%)
  100%
    transform: translateX(0)
